build/watsap/watsap.exe.manifest
requirements.txt
build/watsap/Tree-02.toc
build/watsap/Tree-01.toc
build/watsap/Tree-00.toc
build/watsap/base_library.zip
watsap.spec
build/watsap/localpycs/struct.pyc
dist/watsap.exe
build/watsap/localpycs/pyimod04_pywin32.pyc
build/watsap/localpycs/pyimod03_ctypes.pyc
build/watsap/localpycs/pyimod02_importers.pyc
build/watsap/localpycs/pyimod01_archive.pyc
build/watsap/xref-watsap.html
build/watsap/watsap.pkg
build/watsap/warn-watsap.txt
build/watsap/PYZ-00.toc
build/watsap/PYZ-00.pyz
build/watsap/PKG-00.toc
build/watsap/EXE-00.toc
build/watsap/Analysis-00.toc
dist/watsap
build/watsap/generated-5c64c764cb9954b96e741eb61a9b4d12a49f8afc89d68b80261f47ac02c33d88.ico
dist/Defender.exe
build/watsap/pyimod00_crypto_key.py
build/watsap/localpycs/pyimod00_crypto_key.pyc
*.7z
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
watsap.spec
.venv/
build/watsap/generated-277ccb32077d2dfc7a10aa0271c95bf7a5e0f89660e7b20d07f0376bebf4e9ea.ico
build/